################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.editorconfig
*.vs
*bin
*obj
/DotnetApi/Basic/Properties/launchSettings.json
/DotnetApi/Basic/appsettings.Development.json
/DotnetApi/Basic/appsettings.json
/DotnetApi/Basic/Migrations/20230728074418_CascadeDeleteForUserJobInfo.cs
/DotnetApi/Basic/Migrations/20230728074418_CascadeDeleteForUserJobInfo.Designer.cs
/DotnetApi/Basic/Migrations/DataContextEFModelSnapshot.cs
*.gitignore
/DotnetApi/Basic/Basic.csproj
